<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.first.shop.dao.OrderMapper">
			
		<!-- 구매 요청  -->
		<insert id="register_product" parameterType="Orders">
			insert into orders (order_id, user_id, total_amount, delivery_cost, status)
			values (#{order_id}, #{user_id}, #{total_amount}, #{delivery_cost}, #{status});
		</insert>
		
		<!-- 유저가 사용한 금액,포인트정보 업데이트-->
		<update id="update_user" parameterType="User">
			update user set money = #{money} , point = #{point}
		</update>
		
		<!-- 상품 재고 변경-->
		<update id="update_stock" parameterType="Product">
			update product set stock = #{stock}
		</update>	
		
		<!-- 주문 유저 정보를 가져온다 * 사실 이미 다른 매퍼에 정의돼있는 코드라 중복이 발생한다는 점이 아쉬움 -->
		<select id="orderUser_info" parameterType="String" resultType="User">
			select * from user where id = #{id}
		</select>	
		
		<!-- 주문 상품 정보를 가져온다. -->
		<select id="orderProduct_info" parameterType="int" resultType="Product">
			select * from product where product_id = #{product_id}
		</select>
			
			
	</mapper>	