<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.first.shop.dao.RegisterMapper">
	
	<!-- 회원가입 -->
	<insert id="registerUser" parameterType="User">
		insert into user (id, password, name, sex, age, birth, address, tel, email, color, snscheck)
			values ( #{id}, #{password}, #{name}, #{sex}, #{age}, #{birth}, #{address}, #{tel}, #{email}, #{color}, #{snscheck})		
	</insert>
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" parameterType="User" resultType="int">
		select count(*) from user where id = #{id}
	</select>
	
	
</mapper>

