@charset "UTF-8";

/* 입력 양식 폼 */
.login_form{
  width: 400px;
  height: 375px;
  /* display: flex; */
 /*  flex-direction: column;
  align-items: center;
  justify-content: center; 수직 중앙 정렬
  border: 1px solid rgb(89, 117, 196);
  border-radius: 10px;
  margin: auto; 수평 가운데 정렬을 위한 추가 */

}


/* 로그인 입력요소 */
.login_input_div{
	display: flex;	
	flex-direction: column;
	margin: auto; /* 수평 가운데 정렬을 위한 추가 */
	
}

.login-Input{
	width: 300px;
            height: 40px;
            border : 1px solid rgb(89,117,196);
            border-radius:5px;
            padding: 0 10px;
            margin-bottom: 10px;
}

/* 아이디기억 체크박스 */
.rememberId{
    align-items: left; /* 수직 중앙 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
}

/* Login 문구 */
#title{	
color : navy;
font-size : 50px;
margin: 40px 0 30px 0;
}




/* 아이디 기억 문구 */       
.rememberIdDiv{
    align-items: center;
    margin-top: 20px; /* 필요한 여백 조절 */
}

.rememberId-label{
	text-align: left;	
	color: #000040;
	margin-left: 10px; /* 왼쪽 마진 추가 */
	
}

/* 아이디기억 체크박스 */
.rememberId {
    align-items: center; /* 기존: left -> center로 수정 */
    justify-content: flex-start;
}
/* .rememberId-check{
	text-align: left;
	margin-right: 10px;
	align-items:center;
	color: navy;
} */
/* 아이디 기억 체크박스와 라벨 */
.rememberId-check, .rememberId-label {
    display: inline-block; /* 기존: flex -> inline-block으로 변경 */
    vertical-align: middle; /* 수직 가운데 정렬을 위한 추가 */
}

.msg{
	color : red;	
}

/* 로그인 버튼 */
 button {	
            background-color: rgb(89,117,196);
            color : white;
            width:300px;
            height:50px;
            font-size: 17px;
            border : none;
            border-radius: 5px;
            margin : 20px 0 30px 0;
        }