@charset "UTF-8";

/* 입력 양식 폼 */
form{
	   width:400px;
       height:375px;
       display : flex;
       flex-direction: column;
       align-items:center;
       position : absolute;
       top:50%;
       left:50%;
       transform: translate(-50%, -50%) ;
       border: 1px solid rgb(89,117,196);
       border-radius: 10px;
}


/* 로그인 입력요소 */
.login-Input{
	width: 300px;
            height: 40px;
            border : 1px solid rgb(89,117,196);
            border-radius:5px;
            padding: 0 10px;
            margin-bottom: 10px;
}

/* 아이디기억 체크박스 */
.rememberId{
	display: flex;
    align-items: left; /* 수직 중앙 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
}

/* Login 문구 */
#title{	
color : navy;
font-size : 50px;
margin: 40px 0 30px 0;
}




/* 아이디 기억 문구 */       
.rememberIdDiv{
	display: flex;
	align-items: center;
	position: absolute;
	top: 225px; 
	left: 50px;
}

.rememberId-label{
	text-align: left;	
	color: navy;
}
/* 아이디 기억 체크박스*/
.rememberId-check{
	text-align: left;
	margin-right:10px;
	align-items:center;
	color: navy;
}

.msg{
	color : red;	
}

/* 로그인 버튼 */
 button {	
            background-color: rgb(89,117,196);
            color : white;
            width:300px;
            height:50px;
            font-size: 17px;
            border : none;
            border-radius: 5px;
            margin : 20px 0 30px 0;
        }