@charset "UTF-8";
 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4;
}

/* header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
} */

/* css 설정 추가로 해야함 */

.userInfo_table{
	width: 100%;
    border-spacing: 0;
    border-top: 2px solid #363636;
    border-bottom: 1px solid #b6b6b6; 
}

.order_div{
	display: flex;
}

.order_h2{
	display: flex;
	justify-content : center;
	text-align: center;
}

/* 테이블 열 간격 설정 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* 원하는 간격 설정 */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* 이미지 크기 설정 */
.order_info img {
    max-width: 100px; /* 이미지의 최대 너비 설정 */
    height: auto;
}

/* 주문 버튼 설정  */
.order_Btn{
    display: flex;
    font-size: 30px;
    justify-content : center;
    width: 200px;
    height: 50px;
    background-color: blue;
    color: #fff;
    font-weight: bold;
	text-align: center;
}



/* 주소지 수정 버튼 */
.address_Btn1{
	background-color: black;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
  /*   display: inline-block;
    font-size: 10px;
    width: 100px;
    height: 35px;
    background-color: orange;
    color: black;
    font-weight: bold;
    text-align: center; */
}


.address_Btn2{
	background-color: gray;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
  /*   display: inline-block;
    font-size: 10px;
    width: 100px;
    height: 35px;
    background-color: orange;
    color: black;
    font-weight: bold;
    text-align: center; */
}


/* 주소지 영역 */
.addressInfo_input_1{
	display: block;
}

.addressInfo_input_2{
	display: none;
}

/* 신규 주소 입력창 크기 설정  */
.newAddress1{
	width : 100px;
}
.newAddress2{
	width : 450px;
}
.newAddress3{
	width : 200px;
}

/* 포인트 사용 취소 버튼 */
.cancelpoint_Btn{
	display: none;
}

/* 결제금액 표시 */
.finaltotalprice_span{
	color: blue;
	font-weight: bold;
}
}

 .user_info {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .user_info, .user_info th, .user_info td {
        border: 1px solid #ddd;
        padding: 12px; /* 여백을 더 크게 조절할 수 있습니다. */
        text-align: left;
    }       
/* 카카오페이 버튼 설정 */
 .kakaopay{
 width:500px;
 height: 300px;
 }
    