@charset "UTF-8";


/* 상품 정보 화면 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table {
    width: 30%;
    height: 20%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: gainsboro;
}

td {
	color: royalblue;
    padding: 10px;
    /* border: 1px solid #ddd; */
}

.review_content_ul{
	background-color: white;
}
.pageMaker{
	background-color: white;
}

img {
	display: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    width: 90px;
}

/* 정가와, 할인가 설정 */
.original_price{
	text-decoration:line-through;
	color: #888; 
}

.discounted_price{
	color: red;
	font-weight: bold;
}

.plus_Btn{
	width: 30px;
}
.minus_Btn{
	width: 30px;
}

/* 상품 목록 버튼 위치 설정 */
button{
	margin-top: 20px;
	align-items: center;
}

 /* 리뷰쓰기 버튼 */
  .review_Btn_div{
  	padding : 10px;
  }
  .review_Btn_div button{
	background-color: #365fdd;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 12px;
    cursor: pointer;  
  }
  .review_Btn_div button:hover{
  	background-color: #1347e7;
  }


/* 리뷰 영역 및 페이징 중앙 정렬 */
.bottom_div {
    width: 70%; /* 가로폭 조절, 필요에 따라 수정 가능 */
    margin: 20px auto; /* 가운데 정렬을 위한 마진 설정 */
    /* text-align: center; 텍스트 가운데 정렬 */
    margin-top: -70px;
}

.review_pageInfo_div {
    margin-top: 20px; /* 페이징과의 간격 조절, 필요에 따라 수정 가능 */
}
  

/* 리뷰 작성 영역 스타일 */

li{
	list-style: none;
}

.review_bottom {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;  /* 수정된 부분: flex-wrap 속성 추가 */
}

.user_id_span {
    padding: 0 15px 0 3px;
    font-weight: bold;
}

.date_span {
    padding: 0 15px 0;
}

.rating_span {
    color: darkorange;
    margin-left: auto; /* 이 부분을 추가하여 평점을 오른쪽으로 이동시킵니다. */
	font-size: 20px;
}

.pageMaker > li > a {
	color: black;
}

.pageMaker{
	/* background-color: #add8e6; */
	text-align: center; 
	display: flex;
	align-items: center;
	justify-content: center; /* Add this line for horizontal centering */	
}

.review_title h2 {
    padding: 50px 25px 0px 0px;
}

/* 리뷰 버튼 스타일링 */
.review_Btn_div {
    padding: 10px;
}

.review_Btn_div button {
    background-color: #365fdd;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 12px;
    cursor: pointer;
}

.review_Btn_div button:hover {
    background-color: #1347e7;
}

/* 리뷰 콘텐츠 스타일링 */
.review_div {
    position: relative;
    border-bottom: 1px dotted #d4d4d4;
    padding: 14px 0 10px 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
	background-color: antiquewhite;
}

.review_top {
    padding-bottom: 10px;
    flex-wrap: nowrap;
    align-items: center; /* 이 부분을 추가하여 세로 정렬을 가운데로 조정 */     
}

.update_review_Btn,
.delete_review_Btn {
    font-weight: bold;
    width: 40px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 0 5px;
    border-radius: 6px;
    cursor: pointer;
}

.update_Btn{
	background-color : navy;
	font-weight: bold;
    width: 40px;
    color: white;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 0 5px;
    border-radius: 6px;
    cursor: pointer;
}

.delete_Btn{
	background-color : gray;
	font-weight: bold;
    width: 40px;
    color: white;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 0 5px;
    border-radius: 6px;
    cursor: pointer;
}
/* 버튼 설정 */
.btn {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }

.btn:hover {
  background-color: #ff5722;
      box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}


.update_review_Btn {
    background-color: #b7b399;
    color: white;
}

.delete_review_Btn {
    background-color: #e7578f;
    color: white;
}

/* 글씨 색상 설정 */
.user_id_span, .date_span, .review_bottom_txt{
	color: black;
}

/* 배경 설정 */
.review_content_ul{
	background-color: #212519;
}

/* 리뷰 평점을 별점으로 표시하기 위한 설정 */
.rating_div fieldset{
display: inline-block;
direction: rtl;
border:0;
}
.rating_div fieldset legend{
    text-align: right;
}
.rating_div input[type=radio]{
    display: none;
}
.rating_div label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.rating_div label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.rating_div label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.rating_div input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

반쪽자리 별 설정
#half-stars-example {

  use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line
    display: inline-flex;
}

.rating-group {
  display: inline-flex;
}

.rating__icon {
  pointer-events: none;
}

.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
  color: orange;
}

.rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

.rating__icon--star {
  color: orange;
}

.rating__icon--none {
  color: #eee;
}

.rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

.rating-group:hover .rating__label .rating__icon--star,
.rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

.rating__input:hover ~ .rating__label .rating__icon--star,
.rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

.rating-group:hover .rating__input--none:not(:hover) {
  color: #eee;
}

.rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}