@charset "UTF-8";
body{
  		margin : 0;
  	}
  	/* 전체 배경화면 색상 */
  	.wrapper_div{
		background-color: #f5f5f5;
	    height: 100%;  	
  	}
 	/* 팝업창 제목 */
  	.title_div{
	    width: 100%;
	    background-color: #7b8ed1;
	    color: white;
	    padding: 10px;
	    font-weight: bold;
  	}
  	
  	/* 컨텐츠, 버튼 영역 padding */
  	.rating_div{
  		padding: 30px;
  	}
  	.btn_Area{
  		padding: 5px 30px 30px 30px;
  		text-align: center;
  	}
  	
  	/* 버튼 영역 */
  	.cancel_Btn{
  		margin-right:5px;
  	    display: inline-block;
	    width: 130px;
	    background-color: #5e6b9f;
	    padding-top: 10px;
	    height: 27px;
	    color: #fff;
	    font-size: 14px;
	    line-height: 18px;  	
  	}
  	.write_Btn{
   	    display: inline-block;
	    width: 130px;
	    background-color: #7b8ed1;
	    padding-top: 10px;
	    height: 27px;
	    color: #fff;
	    font-size: 14px;
	    line-height: 18px;   	
  	}

	/* 책제목 영역 */
	.product_name_div h2{
		color: navy;
		margin : 0;
	}
  	/* 평점 영역 */
  	.rating_div{
  		padding-top: 10px;
  	}
  	.rating_div h4{
  		margin : 0;
  	}
  	select{
  	margin: 15px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;  	
  	}
  	/* 리뷰 작성 영역 */
  	.content_div{
  		padding-top: 10px;
  	}
  	.content_div h4{
  		margin : 0;
  	}
  	
  	/* 리뷰 수정 버튼 */
  	.update_Btn{
  		display: inline-block;
	    width: 130px;
	    background-color: #7b8ed1;
	    padding-top: 10px;
	    height: 27px;
	    color: #fff;
	    font-size: 14px;
	    line-height: 18px; 
  	}
  	
  	
  	textarea{
		width: 100%;
	    height: 100px;
	    border: 1px solid #dadada;
	    padding: 12px 8px 12px 8px;
	    font-size: 15px;
	    color: #a9a9a9;
	    resize: none;
	    margin-top: 10px;  	
  	}

/* /* 별점 관련 설정 */
.rating_div fieldset{
display: inline-block;
direction: rtl;
border:0;
}
.rating_div fieldset legend{
    text-align: right;
}
.rating_div input[type=radio]{
    display: none;
}
.rating_div label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.rating_div label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.rating_div label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.rating_div input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

반쪽자리 별 설정
#half-stars-example {

  use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line
    display: inline-flex;
}

.rating-group {
  display: inline-flex;
}

.rating__icon {
  pointer-events: none;
}

.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
  color: orange;
}

.rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

.rating__icon--star {
  color: orange;
}

.rating__icon--none {
  color: #eee;
}

.rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

.rating-group:hover .rating__label .rating__icon--star,
.rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

.rating__input:hover ~ .rating__label .rating__icon--star,
.rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

.rating-group:hover .rating__input--none:not(:hover) {
  color: #eee;
}

.rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
} *



#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
  	
  	